body {
  margin: 0;
  font-family: "Rubic Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
p,
ul,
h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubic Regular";
  src: url(assets/Rubik-Regular.ttf);
}
.custom-input {
  border: 2px solid #eee;
  border-radius: 6px;
  font-size: 1rem;
  margin: 0.25rem;
  padding: 0.5rem;
  transition: background-color 0.5s ease-out;
  width: 50%;
}

.custom-input:focus {
  outline: none;
  border: 2px solid #501f96;
}
